body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  background-image: url(../imagens/backgroundgreen2.jpg);
    color: #333;
    text-align: center;
}


header {
    background-color: #ffffff; 
    padding: 20px 0;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #4CAF50;
}


table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}


thead th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    text-align: left;
    border-bottom: 2px solid #ddd;
}


tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}


tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


tbody tr:hover {
    background-color: #f1f1f1;
}


button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #218838;
}